body {
    background: rgb(251, 139, 139);
    background: radial-gradient(
        circle,
        rgba(251, 139, 139, 1) 0%,
        rgba(95, 158, 160, 1) 100%
    );
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ============ POST A PRETTY THING ============ */
.post {
    margin: 20px;
    border-radius: 10px;
    border: black 1px solid;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 823px;
    height: 100px;
}

input[type="text"] {
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
}

.inputfile {
    /* margin-top: 23px; */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    margin-top: 30px;
    padding: 0.5em 3em;
    margin-top: 20px;
    border: 1px solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    width: 100px;
    cursor: pointer;
    top: 25px;
    position: relative;
    text-transform: uppercase;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

label:hover {
    color: #dddddd;
    border-color: #dddddd;
}

.post input[type="text"] {
    width: 232px;
    margin: 0px 19px 0px 0px;
}

.post button {
    float: right;
    margin-right: 21px;
    padding: 5px 86px 5px 50px;
}

/* ================= MAIN PAGE ================= */
img {
    width: 250px;
    height: 180px;
    padding: 5px 5px 0px;
    object-fit: cover;
    border: solid transparent 1px;
    border-radius: 5px;
}

.card {
    border: black 1px solid;
    border-radius: 5px;
    margin: 10px;
}

/* ================= MODAL ================== */

.container {
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-row: 2;
    grid-column: 2 / 3;
}
#containerOfContainer {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: 2 / 3;
}

.component {
    background-color: #5f9ea0;
    border: 15px solid #5f9ea0;
    position: absolute;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 717px;
    margin: 20px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: initial;
}
.component img {
    width: 350px;
    height: auto;
    border: 10px solid rgba(200, 200, 200, 0.2);
    border-radius: 10px;
    padding: 0;
    margin-top: 30px;
}

#x {
    position: absolute;
    right: 11px;
    top: 0;
    margin: 0;
    padding: 0;
    font-size: 17px;
    cursor: pointer;
}

.comment {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px 20px 20px 20px;
    width: 330px;
    border-radius: 10px;
    margin-top: 20px;
}

.component form {
    background-color: rgba(200, 200, 200, 0.2);
    padding: 8px 20px 20px 20px;
    width: 330px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#arrows {
    display: flex;
    align-items: center;
}

#left-arrow {
    margin-right: 30px;
}

#right-arrow {
    margin-left: 30px;
}
/* ================ ALL TEXT ==================== */

p {
    margin: 40px;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 35px;
    font-size: 37px;
    text-align: center;
    position: relative;
    left: 14px;
}

h1 {
    font-family: "Quicksand", sans-serif;
}

h2,
h5 {
    font-family: "Open Sans", sans-serif;
    margin: 5px 0px 0px 0px;
}

h3 {
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
}

h4 {
    text-align: center;
    margin: 4px;
    margin-bottom: 7px;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    color: black;
    text-transform: lowercase;
}

a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

button {
    padding: 0.5em 3em;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    width: 100px;
    cursor: pointer;
}

button:hover {
    color: #dddddd;
    border-color: #dddddd;
}

#more-button {
    margin-bottom: 20px;
}

#nomore {
    display: none;
    margin: 15px;
}
